<!DOCTYPE html>
<html lang="es">
  
<%- include('./partials/head') %>
    <% if (locals.user != undefined) { %>
        <%- include("./partials/headerLogueado") %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

  <main>
    <section class="section-detalle-busqueda flex-box-c">
      <h2>Resultado de Busqueda:</h2>

      <section class="section-playlist">

        <ol class="flex-box-c">
          <% for( let i = 0; i < productos.length; i++ ) { %>
            <li class="li">
              <a href="/movies/id/<%= productos[i].id %>"><%= productos[i].title %> </a> 
            </li>
          <% } %>
        </ol>
      </section>
    </section>
  </main>


</body>
</html>