<%- include('./partials/head') %>
    <% if (locals.user != undefined) { %>
        <%- include("./partials/headerLogueado") %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>



<!DOCTYPE html>
<html lang="es">

  <main>
    <section class="section-detalle-busqueda flex-box-c">
      <h2>Resultado de Busqueda:</h2>

      <section class="section-playlist">

        <ol class="flex-box-c">


          <% for(let i= 0; i < listaProductos.length; i++) {%>	
			
            <div class="col-12 col-sm-6 col-lg-3">
              <section class="producto-box">
                <a href="/productos/id/<%= listaProductos[i].id %>">
                  <figure class="producto-box_image">
                    <img src= <%=listaProductos[i].fotoProducto%> alt="Producto">
                  </figure>
                  <article class="producto-box_data">
                    <h2><%= listaProductos[i].nombre%></h2>
                    <p><%= listaProductos[i].descripcion %></p>
                    <p>Comentarios: <%= listaProductos[i].comments.length %></p>
                  </article>
                </a>
              </section>
            </div>
      
          <% } %>

        </ol>
      </section>
    </section>
  </main>


</body>
</html>

<%- include('./partials/footer') %>