<%- include('./partials/head') %>
<% if (locals.user != undefined) { %> 
<%- include('./partials/headerLogueado') %> 
<% } else { %> 
	<%- include('./partials/header') %>
<% } %> 


    <!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->


	<div class="container productos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productos-title">Nuestros productos</h2>
			</div>
			<!-- Show the "ultimos" productos -->

		<% for(let i= 0; i < productos.length; i++) {%>	
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="producto-box">
					<a href="/productos/detail/<%=productos[i].id%>">
						<figure class="producto-box_image">
							<img src= <%=productos[i].fotoProducto%> alt="Producto">
						</figure>
						<article class="producto-box_data">
							<h2><%= productos[i].nombre%></h2>
							<p><%= productos[i].descripcion %></p>
							<p>Comentarios: <%= productos[i].comments.length %></p>
						</article>
					</a>
				</section>
			</div>

		<% } %>
		</div>
	</div>



	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container productos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productos-title">Lo mas vendido</h2>
			</div>


			<!-- Show the "ultimos" productos -->

			<% for(let i = 8; i < 12; i++) {%>	
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="producto-box">
						<a href="/productos/detail/<%=productos[i].id%>">
							<figure class="producto-box_image">
								<img src= <%=productos[i].fotoProducto%> alt="Producto">
							</figure>
							<article class="producto-box_data">
								<h2><%= productos[i].nombre%></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Comentarios: <%= productos[i].comments.length %></p>
							</article>
						</a>
					</section>
				</div>
	
			<% } %>



		


		</div>
	
	</div>

	<!-- /Más comentados -->

    <%- include('./partials/footer') %>