<%- include('./partials/head') %>
<%- include('./partials/header') %>



<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title">Chicken Bacon Onion</h2> 
        <p class="product-detail-description">
            <a href="/productos/agregar">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="/images/products/cbo.jpg" alt="" class="product-detail-img">
                <p class="product-detail-description">Deliciosa hamburguesa con tus tres ingredientes favoritos: Chicken, Bacon, Onion. Delicioso pollo, crujiente bacon y el sabor sorprendente de nuestro crispy onion, con lechuga, queso cheddar, una salsa original y un pan único.</p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">


                    

                    
                <% for( let i = 0; i < comentario.length; i++ ) { %>	
                <article>
                    <img src= <%=comentario[i].imgUrl%> alt="">
                    <div class="data">
                        <p class="user">
                            <strong> <a href="/users/profile"><%= comentario[i].usuario%>: </a> </strong>
                            <%= comentario[i].comentarios%></p>
                        </div>
                </article>
            <% } %> 
                    
                </section>
                <form class="form" action="" method="POST">
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>