<%- include('./partials/head') %>
<% if (locals.user != undefined) { %>
    <%- include("./partials/headerLogueado") %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>



<div class="container productos-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="productos-title"><%= producto.producto%></h2> 
        <p class="producto-detail-description">
            <% if (locals.user && locals.user.id == producto.usuarioId) { %>
            <a href=<%= "/productos/actualizar/" + producto.id %>>Editar</a>
            <br>
            <form action="/productos/eliminar/" method="post">
                <input type="text" hidden name ="id" id="" value="<%= producto.id %>">
                <input type="submit" value="Eliminar">
            </form>
            <% } else {%> 
                <p class="producto-detail-description">No podes borrar este producto porque no sos el creador</p>
                <% }%> 
        </p>
    </div>
    <div class="producto-detail">
        <div class="row">
            <article class="col-12 col-lg-8 producto-detail-info">
                <img src=<%= producto.fotoProducto%> alt="" class="producto-detail-img">
                <p class="producto-detail-description"><%= producto.descripcion %></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">

                        <article>
                            <div class="data">
                                <p class="user">
                                    Creado por: 
                                    <strong> <a href="/users/profile/<%=producto.usuario.id %>"><%= producto.usuario.nombreUsuario%></a></strong>
                                </p>
                            </div>
                        </article>

                <% for(let i= 0; i < producto.comments.length; i++) {%>	
                    <article>
                        <img src= <%=producto.comments[i].usuario.fotoPerfil%> alt="">
                        <div class="data">
                            <p class="user">
                                <strong> <a href="/users/profile/<%=producto.comments[i].usuario.id %>"><%= producto.comments[i].usuario.nombreUsuario%>: </a> </strong>
                                <%= producto.comments[i].comentario %>
                            </p>
                        </div>
                    </article>
                <% } %>





                    
                </section>
                <form class="form" action="" method="get">
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>