<%- include('./partials/head') %>
<% if (locals.user != undefined) { %> 
	<%- include("./partials/headerLogueado") %> 
<% } else { %> 
	<%- include('./partials/header') %>
<% } %> 

<!DOCTYPE html>
<html lang="es">
	<!-- Novedades -->
	<div class="container productos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productos-title">Actualizar producto</h2>
			</div>
			<!-- Show the "ultimos" productos -->
			<section>
				<form action="/productos/actualizar/<%= productos.id %>" method="post">

					<div>
						<label for="">Imagen:</label>
						<input type="text" name="fotoProducto" value="<%= productos.fotoProducto %>">
					</div>

					<div>
						<label for="">Nombre del producto:</label>
						<input type="text" name="producto" value="<%= productos.producto %>">
					</div>

					<div>
						<label for="">Descripcion:</label>
						<input type="text" name="descripcion" value="<%= productos.descripcion %>">
					</div>

					<div>
						<button type="submit">Actualizar</button>
					</div>


				</form>
			</section>

</body>

</html>

<%- include('./partials/footer') %>