<%- include('./partials/head') %>
<!-- <% if (locals.user != undefined) { %> -->
	<!-- <%- include("./partials/headerLogueado") %> -->
 <!-- <% } else { %> -->
	<%- include('./partials/header') %>
<!-- <% } %> -->



<!DOCTYPE html>
<html lang="es">
    
	<!-- Datos del usuario -->
	
	<section class="info-usuario container productos-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%=locals.user.fotoPerfil%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=locals.user.nombreUsuario%>
						<a href="/users/edit-profile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%=locals.user.mail%></li>
						<br>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container productos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productos-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			
		</div>
	</div>
	
	<!-- /Mis productos -->

</body>	
</html>

<%- include('./partials/footer') %>