<%- include('./partials/head') %>
<!-- <% if (locals.user != undefined) { %> -->
	<!-- <%- include("./partials/headerLogueado") %> -->
 <!-- <% } else { %> -->
	<%- include('./partials/header') %>
<!-- <% } %> -->



<!DOCTYPE html>
<html lang="es">
    
	<!-- Datos del usuario -->
	
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%=users[0].imgUrl%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=users[0].usuario%>
						<a href="/users/edit-profile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%=users[0].email%></li>
						<br>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->

			<% for(let i= 0; i < productos.length; i++) {%>	
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail">
							<figure class="product-box_image">
								<img src= <%=productos[i].imgUrl%> alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre%></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Comentarios: <%= comentario.length %></p>
							</article>
						</a>
					</section>
				</div>
	
			<% } %>
		</div>
	</div>
	
	<!-- /Mis productos -->

</body>	
</html>

<%- include('./partials/footer') %>