<%- include('./partials/head') %>
<!-- <% if (locals.user != undefined) { %> -->
	<!-- <%- include("./partials/headerLogueado") %> -->
 <!-- <% } else { %> -->
	<%- include('./partials/header') %>
<!-- <% } %> -->


<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Waldo</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>

	<!-- Novedades -->
	<div class="container productos-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productos-title">Registrate</h2>

				<% if (locals.errors) { %>
					<p style="color: green;"><%= locals.errors.message %></p>
				<% } %>
			</div>
			
			<section>
				<form action="/users/register" method="post">

					<div>
						<label for="">Nombre:</label>
						<input type="text" name="nombreUsuario" value="">
					</div>

					<div>
						<label for="">Mail:</label>
						<input type="email" name="mail" value="">
					</div>

					<div>
						<label for="">Contrasena:</label>
						<input type="password" name="pass" value="">
					</div>

					<div>
						<label for="">Fecha nacimiento:</label>
						<input type="date" name="fecha" value="">
					</div> 

					<div>
						<label for="">DNI:</label>
						<input type="number" name="DNI" value="">
					</div>

					 <div>
						<label for="">Foto de perfil:</label>
						<input type="text" name="fotoPerfil" value="">
					</div>

					<div>
						<button type="submit">Enviar</button>
					</div>


				</form>
			</section>
			
</body>

</html>

<%- include('./partials/footer') %>